<div class="tab-page">
    <div class='graphRuntimeHeader'>
        <div class="graph-item group">
            <span> Groups </span>
        </div>
        <div class="graph-item application">
            <span> Applications </span>
        </div>
        <div class="graph-item scope">
            <span> Scopes </span>
        </div>
        <div class="graph-item application">
            <span> Ext. Scopes </span>
        </div>
        <div class="graph-item scope">
            <span> Ext. Applications </span>
        </div>
        <div class="graph-item">

        </div>
    </div>
    <div class='graphRuntimeContainer'>
        <div id="projectRuntimeGraph"></div>
    </div>
</div>