<div class="running-flash" *ngIf="running">
    <mat-progress-bar
        [color]="'warn'"
        [mode]="'indeterminate'"
        [value]="50"
        [bufferValue]="75"
    >
    </mat-progress-bar>
</div>
<div class="tab-page">
    <main>
        <div class="main-content">
            <mat-form-field class="flex-full">
                <mat-label>Label</mat-label>
                <input
                    matInput
                    [(ngModel)]="view.label"
                    required
                />
                <mat-label>Label</mat-label>
                <mat-hint *ngIf="view.$validation.errors.label" class="error"
                    >{{ view.$validation.errors.label | valmsg }}
                </mat-hint>
            </mat-form-field>
            <mat-form-field class="flex-full">
                <mat-label>Description</mat-label>
                <textarea
                    matInput
                    placeholder="Please don't write blabla..."
                    [(ngModel)]="view.description"
                    required
                ></textarea>
                <mat-hint
                    *ngIf="view.$validation.errors.description"
                    class="error"
                >
                    {{ view.$validation.errors.description | valmsg }}</mat-hint
                >
            </mat-form-field>
            <mat-form-field class="flex-full">
                <mat-label>Cmdb reference</mat-label>
                <mat-select [(value)]="view.cmdbId">
                    <mat-option>None</mat-option>
                    <mat-option
                        [value]="cmdb.oid"
                        *ngFor="let cmdb of projectCmdbs"
                        >{{ cmdb.label }}</mat-option
                    >
                </mat-select>
                <mat-hint *ngIf="view.$validation.errors.cmdbId" class="error">
                    {{ view.$validation.errors.description | valmsg }}</mat-hint
                >
            </mat-form-field>

            <div class="right-offset right">
                <button
                    *ngIf="editable && initialized"
                    mat-raised-button
                    color="primary"
                    class="space-left right"
                    [disabled]="!canSave"
                    (click)="saveAsync()"
                >
                    Save
                </button>
            </div>
        </div>
    </main>
</div>
